{
  "crypto-adiutor": {
    "SECRET_KEY": "",
    "POSTGRESQL_HOST": "",
    "POSTGRESQL_DATABASE": "",
    "POSTGRESQL_USER": "",
    "POSTGRESQL_PASSWORD": "",
    "RABBITMQ_HOST": "",
    "RABBITMQ_VHOST": "",
    "RABBITMQ_USER": "",
    "RABBITMQ_PASSWORD": "",
    "SENTRY_DSN": "",
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "CRYPTOPANIC_AUTH_TOKEN": "",
    "TELEGRAM_BOT_TOKEN": ""
  }
}
