{
  "crypto-adiutor": {
    "SECRET_KEY": "",
    "POSTGRESQL_HOST": "",
    "POSTGRESQL_DATABASE": "",
    "POSTGRESQL_USER": "",
    "POSTGRESQL_PASSWORD": "",
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "CRYPTOPANIC_AUTH_TOKEN": ""
  }
}
